body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.StickNav{
    height: 2vh;
    margin: 0;
    padding: 0.9vw;
    padding-left: 7vw;
    padding-right: 7vw;
    background-color: limegreen;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.LeftStick {
    padding-left: 1vw;
    margin-top: -2.5vh;
    font-size: 17px;
    flex-grow: 1;
}

.LeftStick .Link1{
    background-color: gainsboro;
    font-style: italic;
    padding: 1rem;
    display: inline-flex;
    transform: skewX(10deg);
    color: rgb(0, 46, 62);
}

.LeftStick .Link2{
    padding: 0.9em;
    color: aliceblue;
    display: inline-flex;
}

.LeftStick a:hover {
    color: rgb(0, 46, 62);
    transform: translateY(-5px);
    transition: ease-in-out 0.5s;
}

.RightStick {
    display: flex;
    padding-right: 1vw;
    flex-shrink: 1;
    margin-top: -2.5vh;
}

.RightStick a {
    color: aliceblue;
    display: inline-flex;
    margin-top: 2vh;
    font-size: 1.15em;
}
.RightStick span{
    margin-top: 1.4vh;
    /* display: flex; */ 
    color:aliceblue;
    font-size: 1.8em;
}

.RightStick a:hover{
    color: rgb(0, 46, 62);
    transform: translateY(-5px);
    transition: ease-in-out 0.35s;
}

.NavBar {
    margin-top: -0.5vh;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBar .LogoSide {
    display: inline-flex;
    margin-left: 5vw;
    justify-content: center;
}

.LogoSide a {
    font-family: 'Tektur', cursive;
    font-size: 3rem;
    color: limegreen;
}

.LogoSide a:hover{
    font-size: 3.3rem;
}

.links {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 2vw;
    align-items: center;
}

.links a {
    color: limegreen;
    margin-left: 2vw;
    font-size: 1.2em;
}

.links a:hover {
    color: rgb(0, 46, 62);
    transform: translateY(-5px);
    transition: ease-in-out 0.35s;
}

.IntroImage{
    /* background-image: radial-gradient(circle, rgb(219, 243, 255), rgb(201, 201, 202)5%, gainsboro); */
    background-image: url("Images/Teddy\'s\ farm.jpg");
    background-color: gainsboro;
    background-size: 78%;
    background-repeat: no-repeat;
    display: flex;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    background-position: 45% 40%;
}

.MainContainer{
    max-width: 80%;
    margin: 0 auto;
    padding: 7vh 16px;
    display: flex;
}

.MainContent{
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
    width: 100vw;
}

.MainContent h1{
    font-size: 2.5em;
    font-weight: 500;
    color: limegreen;
}

.MainContent p{
    font-size: 20px;
    font-weight: 300;
}

.SideContent{
    width: 40vw;
    background-color: limegreen;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    padding: 2%;
    color:aliceblue;
    font-size: 17px;
    line-height: 20px;
}

.SideContent a{
    margin-top: 40px;
    color:rgb(0, 46, 62);
    box-shadow: 30px, 30px, black;
}

.SideContent a:hover{
    transform: translateY(-18%);
    transition: transform ease-in-out 0.3s;
    box-shadow: 10px, 10px, black;
}

.SideContent a span{
    background-color: gainsboro;
    padding: 10px;
    box-shadow: 30px, 30px, black;
}

/* .MainContent::before{
    content: "";
    width: 100vw;
    height: 1000px;
    background-color: brown;
    position: absolute;
    top: 0;
    z-index: -1;
    transform: skewY(5deg);
} */
.CardContainer{
    background-color: gainsboro;
    width:95vw;
    padding-left: 5vw;
    height: 28vw;
}

.Cards{
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
    align-content: center;  
    margin-bottom: 2vh;
}

.Cards .Card1{
    display: flex;
    flex-direction: column;
    width: 25vw; 
    background-color: rgb(16, 247, 78); 
    padding: 1vw;
    padding-left: 2vw;
    margin-top: 5vh;
} 
.Card1 a{
    margin-top: 9vh;
    color: rgb(0, 46, 62);
}
.Card1 a span{
    background-color: gainsboro;
    padding: 10px;
    box-shadow: 30px, 30px, black;
}
.Card1 a:hover{
    transform: translateY(-18%);
    transition: transform ease-in-out 0.3s;
    box-shadow: 10px, 10px, black;
}

.Cards .Card2{
    display: flex;
    flex-direction: column;
    width: 25vw;  
    background-color: rgb(4, 228, 19);
    padding: 1vw;
    padding-left: 2vw;
    margin-top: 5vh;
} 
.Card2 a{
    margin-top: 11vh;
    color: rgb(0, 46, 62);
}
.Card2 a span{
    background-color: gainsboro;
    padding: 10px;
    box-shadow: 30px, 30px, black;
}
.Card2 a:hover{
    transform: translateY(-18%);
    transition: transform ease-in-out 0.3s;
    box-shadow: 10px, 10px, black;
}

.Cards .Card3{
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-color: rgb(11, 213, 0);
    padding: 1vw;
    padding-left: 2vw;
    margin-top: 5vh;
} 
.Card3 a{
    margin-top: 11vh;
    color: rgb(0, 46, 62);
}
.Card3 a span{
    background-color: gainsboro;
    padding: 10px;
    box-shadow: 30px, 30px, black;
}
.Card3 a:hover{
    transform: translateY(-18%);
    transition: transform ease-in-out 0.3s;
    box-shadow: 10px, 10px, black;
}

.Card1, .Card2, .Card3{
    color: aliceblue;
    font-size: 18px;
    font-weight: 400;
    height: 35vh;
}

h4{
    color:blue;
    font-size: large;
}